<?xml version="1.0"?>

<launch>

  <node pkg="phidgets_imu" type="phidgets_imu_node" name="phidgets_imu_node" 
    output="screen">

    <remap from="/imu/data_raw" to="/phidget_imu/data_raw" />
    <remap from="/imu/mag" to="/phidget_imu/mag" />

    # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
    <param name="period" value="4"/>

    # compass correction params (see http://www.phidgets.com/docs/1044_User_Guide)
    <!-- NOTE: Below values listed after running compass calibration program -->
    <param name="cc_mag_field" value="0.42785"/>
    <param name="cc_offset0" value="-0.21458"/>
    <param name="cc_offset1" value="0.04431"/>
    <param name="cc_offset2" value="0.00000"/>
    <param name="cc_gain0" value="2.34022"/>
    <param name="cc_gain1" value="2.33437"/>
    <param name="cc_gain2" value="2.33729"/>
    <param name="cc_t0" value="-0.00024"/>
    <param name="cc_t1" value="0.00000"/>
    <param name="cc_t2" value="-0.00024 "/>
    <param name="cc_t3" value="0.00000"/>
    <param name="cc_t4" value="0.00000"/>
    <param name="cc_t5" value="0.00000"/>

  </node>

  <!-- <node pkg="imu_complementary_filter" type="complementary_filter_node" name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="true"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
  </node> -->
  
  #### IMU Orientation Filter ###############################################

  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" 
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" 
    output="screen"> 

    <remap from="/imu/data_raw" to="/phidget_imu/data_raw" />
    <remap from="/imu/mag" to="/phidget_imu/mag" />
    <!-- <remap from="/phidget_imu/data_raw" to="/imu/data_raw" /> -->
    <!-- <remap from="/phidget_imu/mag" to="/imu/mag" /> -->

    <param name="use_mag" value="true"/>

    <remap from="/imu/data" to="/phidgets_imu/data" />

  </node>

</launch>

<!-- Node to read data from reach via serial -->
<!-- <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="reach_nmea_driver" respawn="false">
  <param name="port" value="/dev/ttyACM0"/>
  <param name="baud" value="115200"/>
  <param name="frame_id" value="reach_link"/>

  <remap from="/fix" to="/reach/fix"/>
  <remap from="/vel" to="/reach/vel"/>
  <remap from="/time_reference" to="/reach/time_reference"/>
</node> -->
