<?xml version="1.0"?>
<launch>

<!-- Launches nodes that run on the Jackal's computer -->


<!-- Defined Args -->
<arg name="REACH_SERIAL_PORT" value="$(env REACH_SERIAL_PORT)" />
<arg name="REACH_BAUD" value="$(env REACH_BAUD)" />
<arg name="port" default="$(env ARDUINO_SERIAL_PORT)" />
<arg name="baud" default="$(env ARDUINO_BAUD)" />


<!-- Jackal Arduino Node (if running an arduino node connected via usb) -->
<!-- <node pkg="rosserial_python" name="rosserial" type="serial_node.py" output="screen" respawn="true"> -->
	<!-- <param name="port" value="$(arg port)" /> -->
	<!-- <param name="baud" value="$(arg baud)" /> -->
<!-- </node> -->

<!-- Launches file for rosbridge server -->
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

<!-- Node to read data from reach via serial -->
<node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="reach_nmea_driver" respawn="true">
	<param name="port" value="$(arg REACH_SERIAL_PORT)" /> 
	<param name="baud" value="$(arg REACH_BAUD)" /> 
</node> 

<!-- Launches PhidgetSpatial IMU launch file (if not using Jackal's onboard IMU) -->
<!-- <include file="$(find simple_navigation_goals)/launch/imu.launch" ns="phidget" /> -->

</launch>