<?xml version="1.0"?>
<launch>

<!-- Arduino args -->
<arg name="port" default="$(optenv ARDUINO_SERIAL_PORT /dev/ttyACM0)" />
<arg name="baud" default="$(optenv ARDUINO_BAUD 57600)" />

<!-- Red Rover Arduino Node -->
<node pkg="rosserial_python" name="rosserial" type="serial_node.py" output="screen" respawn="true">
	<param name="port" value="$(arg port)" />
	<param name="baud" value="$(arg baud)" />
</node>

<!-- Throttle Test Node -->
<node pkg="simple_navigation_goals" name="throttle_test_node" type="throttle_test_node.py" output="screen" />

<!-- Articulator Test Node -->
<node pkg="simple_navigation_goals" name="articulator_test_node" type="articulator_test_node.py" output="screen" />

<!-- Actuator Test Node -->
<node pkg="simple_navigation_goals" name="actuator_test_node" type="actuator_test_node.py" output="screen" />

</launch>